html 
    head
        title= title
body 
        nav
            ul
                li
                    a(href="/" ) Home
                li
                    a(href="/muk") Muk
                li
                    a(href="/snorlax") Snorlax
                li
                    a(href="/mudkip") Mudkip
                li
                    a(href="/squirtle") Squirtle

        h1= message
        
        