html 
    head
        title= title
    body 
        nav
            ul(class="reveal")
                li
                    a(href="/" ) Home
                li
                    a(href="/about") About Our Staff
                li
                    a(href="/location") Location
                li
                    a(href="/movies") Movies
                l1
                    a(href="/reviews") Reviews
        h1= message
        h3= data.name
        h3= data2.name