html 
    head
        title= title
    body 
        nav
            ul(class="reveal")
                li
                    a(href="index.pug" ) Home
                li
                    a(href="about.pug") About
                li
                    a(href="form.pug") Leave a Review!
                li
                    a(href="contact.pug") Contact
                l1
                    a(href="reviews.pug") Customer Reviews
        h1= message
        p= data.name